.hey {
  display: flex;
  width: 98.2vw;
  justify-content: center;
}

.carousel-control {
  width: 55px;
  height: 55px;
  color: white;
  font-size: 20px;
  margin: 10px;
  border-radius: 27.5px;
  margin-top: 40px;
  margin-bottom: 40px;
  transition:
    border-color 500ms,
    background-color 500ms;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom right, #22d593, #226d6c);
  transition: all 300ms;
}

.carousel-control:hover {
  cursor: pointer;
  color: rgb(9, 9, 9);
  background-image: linear-gradient(to bottom right, #e2e2e5, #e2e2e5);
}
