@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica Now Display";
  font-weight: 400;
  src: url("/fonts/HelveticaNowDisplay-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Helvetica Now Display";
  font-weight: 500;
  src: url("/fonts/HelveticaNowDisplay-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Helvetica Now Display";
  font-weight: 600;
  src: url("/fonts/HelveticaNowDisplay-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Helvetica Now Display";
  font-weight: 700;
  src: url("/fonts/HelveticaNowDisplay-Black.otf") format("opentype");
}

:root {
  --font-helvetica: "Helvetica Now Display";
}

html,
body {
  @apply m-0 min-h-full min-w-full overflow-x-hidden  font-display [&_*]:font-display;
}

@layer utilities {
  .container {
    @apply mx-auto max-w-[1080px] px-5 sm:px-9 2xl:px-0;
  }
}

@media only screen and (max-width: 700px) {
  body .cursor {
    display: "none";
  }
}
